$picton-blue: #31baf3;
$royal-blue: #615fee;
$cadet-blue: #acb4c9;
$elephant: #112f42;

$body-bg-color: #f8f9fb;
$body-text-color: #34393d;

$link-color: $elephant;

$panel-title-color: $cadet-blue;

$failed-row-bg-color: #fae6eb;

$spacer-0: 2px;
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 32px;

$mobile-grid-breakpoint: 560px;
